# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# ML artifacts
ml/models/*.pkl
ml/models/*.joblib

# Data
ml/data/raw/*
ml/data/processed/*

# Frontend
frontend/node_modules/
frontend/.next/

# OS
.DS_Store
Thumbs.db